{% extends "layout.html" %}
{% block body %}
<div class="container vh-100">
  <div class="row h-100 justify-content-center align-content-center">
    <div class="rounded col-12 col-md-9 p-0 justify-content-center align-content-center bg-dark">
      <!-- Header -->
      <header class="container-fluid d-block">
        <h1>Random password generator</h1>
      </header>
      <!-- End Header -->
      <div class="rounded-bottom w-100 bg-light">
        <div class="container p-2 text-center">
          <h3>Choose a type of password to generate:</h3>
          <p><a href="/normal">Random password</a> | <a href="/shuffle">Random password from given chars</a> | <a href="/nonduplicate">Non-duplicate password</a></p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
